{% extends 'base.html'%}

{% block title%}

{% endblock %}

{% block body%}


<div class="containerr">
    <h1>{{article.title}}</h1>
    <h2>{{article.intro}}</h2>
   <div class="alert info">
    <p>Advice to others: {{ article.text }}</p>
        <p>Author: {{ author_username }}</p>
        <p><b>Date: {{article.date.date()}}</b></p>
           {% if current_user.is_authenticated and current_user.id == article.author.id %}
                    <a href="/articles/{{ article.id }}/del" class="btn btn-danger">Delete</a>
                    <a href="/articles/{{ article.id }}/update" class="btn btn-success">Edit</a>
                {% endif %}
   </div>
</div>


{% endblock %}