{% extends 'base.html'%}

{% block title%}

{% endblock %}

{% block body%}
<div class="container text-white">
<h1 class="text-black">Update</h1>

<form method="post">
  <textarea placeholder="Describe your situation" name="title" id="title" class="form-control">{{ article.title }}</textarea><br>
  <textarea  placeholder="How do you feel after sharing" name="intro" id="intro" class="form-control">{{ article.intro }}</textarea><br>
  <textarea  placeholder="Advice to others" name="text" id="text" class="form-control">{{ article.text }}</textarea><br>
  <input  type="submit" class="btn btn-success" value="UPDATE">

</form>
  </div>
{% endblock %}