{% extends 'base.html'%}

{% block title%}

{% endblock %}

{% block body%}
<div class="container text-white">
<h1 class="text-black">SHARE YOUR REVELATION</h1>

<form method="post">
  <input placeholder="Describe your situation" name="title" id="title" class="form-control"><br>
  <textarea  placeholder="How do you feel after sharing" name="intro" id="intro" class="form-control"></textarea><br>
  <textarea  placeholder="Advice to others" name="text" id="text" class="form-control"></textarea><br>
  <input  type="submit" class="btn btn-success" value="SEND">

</form>
  </div>
{% endblock %}