{% extends 'base.html'%}

{% block title%}

{% endblock %}

{% block body%}


    <div class="komandablock">

                    <div class="sovdirimg">
                        <img data-src="Сырлыбай Еркебұлан Мұратұлы.jpg" src="/static/tema.jpeg" alt="" style="max-width: 100%">
                    </div>
                                    <div class="sovdirinfo">
                        <p class="sovdirname">Kitibayev Tamirlan</p>
                        <p class="sovdirdolzhnost"> Back-End</p>
                        <div class="sovdirdescrip">Made Back-End and main idea of our project</div>
                        <a class="upsovdir" href="https://bolashak.gov.kz/kz/nasha-komanda/syrlybaj-erkeblan-mratly">More<svg width="32" height="16" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M25.3436 14.9678L31.7076 8.60389C32.0981 8.21336 32.0981 7.5802 31.7076 7.18967L25.3436 0.825711C24.9531 0.435186 24.3199 0.435186 23.9294 0.825711C23.5389 1.21624 23.5389 1.8494 23.9294 2.23993L28.5863 6.89678L0.0175774 6.89678L0.0175776 8.89678L28.5863 8.89678L23.9294 13.5536C23.5389 13.9442 23.5389 14.5773 23.9294 14.9678C24.3199 15.3584 24.9531 15.3584 25.3436 14.9678Z" fill="#3285D1"></path></svg></a>
                    </div>
                            </div>


     <div class="komandablock">

                    <div class="sovdirimg">
                        <img data-src="Сырлыбай Еркебұлан Мұратұлы.jpg" src="/static/san.jpeg" alt="" style="max-width: 100%">
                    </div>
                                    <div class="sovdirinfo">
                        <p class="sovdirname">Tleulin Sanzhar</p>
                        <p class="sovdirdolzhnost"> Front-End</p>
                        <div class="sovdirdescrip">Made Front side of our project</div>
                        <a class="upsovdir" href="https://bolashak.gov.kz/kz/nasha-komanda/syrlybaj-erkeblan-mratly">More<svg width="32" height="16" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M25.3436 14.9678L31.7076 8.60389C32.0981 8.21336 32.0981 7.5802 31.7076 7.18967L25.3436 0.825711C24.9531 0.435186 24.3199 0.435186 23.9294 0.825711C23.5389 1.21624 23.5389 1.8494 23.9294 2.23993L28.5863 6.89678L0.0175774 6.89678L0.0175776 8.89678L28.5863 8.89678L23.9294 13.5536C23.5389 13.9442 23.5389 14.5773 23.9294 14.9678C24.3199 15.3584 24.9531 15.3584 25.3436 14.9678Z" fill="#3285D1"></path></svg></a>
                    </div>
                            </div>



     <div class="komandablock">

                    <div class="sovdirimg">
                        <img data-src="Сырлыбай Еркебұлан Мұратұлы.jpg" src="/static/amy.jpeg" alt="" style="max-width: 100%">
                    </div>
                                    <div class="sovdirinfo">
                        <p class="sovdirname">Muratbekova Amina</p>
                        <p class="sovdirdolzhnost"> Designer</p>
                        <div class="sovdirdescrip">Made design</div>
                        <a class="upsovdir" href="https://bolashak.gov.kz/kz/nasha-komanda/syrlybaj-erkeblan-mratly">More<svg width="32" height="16" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M25.3436 14.9678L31.7076 8.60389C32.0981 8.21336 32.0981 7.5802 31.7076 7.18967L25.3436 0.825711C24.9531 0.435186 24.3199 0.435186 23.9294 0.825711C23.5389 1.21624 23.5389 1.8494 23.9294 2.23993L28.5863 6.89678L0.0175774 6.89678L0.0175776 8.89678L28.5863 8.89678L23.9294 13.5536C23.5389 13.9442 23.5389 14.5773 23.9294 14.9678C24.3199 15.3584 24.9531 15.3584 25.3436 14.9678Z" fill="#3285D1"></path></svg></a>
                    </div>
                            </div>


{% endblock %}